/* 头部导航样式 */
.gb-top-bar {
  /* background: linear-gradient(to right, #4dd0e1 , #80cbc4); 
  padding:.5rem .3rem .5rem .5rem; 
  color:#ffffff; 
  box-shadow: 0 0 1px #26c6da; */
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 2.5rem; 
  padding: 0 .8rem; 
  background: linear-gradient(to right, #4dd0e1 , #80cbc4); 
  box-shadow: 0 0 1px #26c6da;
  color:#fff;
}



/* 文字单行超出用省略号替代 */
.gb-text-1-omit {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* text超出两行省略 */
.gb-text-2-omit{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* text超出两行省略 */
.gb-text-3-omit{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/* 初始化加载层 */
.gb-init-loading{
  position:fixed; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(250, 250, 250, 1); 
  z-index: 999;
  font-size: 14px;
}

/* z-index 系列 */
.gb-zindex-1 {
  z-index: 9999;
}

.gb-zindex-2 {
  z-index: 8888;
}

.gb-zindex-2 {
  z-index: 7777;
}

.gb-zindex-3 {
  z-index: 6666;
}

.gb-zindex-4 {
  z-index: 5555;
}

.gb-zindex-5 {
  z-index: 4444;
}